 body {
     min-height: 500vh;
     display: flex;
 }
.sidebar {
    width: 500px;
    background: #343a40;
    color: white;
}
.sidebar a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #495057;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
